html {
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    text-align: center;
}
#main_heading {
    text-align: center; 
    background-color: #d72323;
    border-radius: 15px;
    padding: 9px;
    border-color: #303841;
    border-style:solid;
}
.user_panel {
    background-color: #303841;
    padding: 9px;
    border-radius: 25px;
    text-align: center;
}
body {
    background-color: #3a4750;
}
a {
    color: #d72323;
}
hr {
    color: #eeeeee;
}
input {
    color:#eeeeee;
    background-color:#3a4750;
    border-radius: 4px;
    border-style:ridge;
}