html {
    font-family: Helvetica;
    color: #f2f2f2;
    text-align: center;
    background-color: #222831;
}
#banner { 
    background-color: #f96d00;
    position: absolute;
    top: 0pt;
    right: 0pt;
    left: 0pt;
}
#banner_heading {
    text-align: left;
    margin-left: 8pt;
}
#home_link {
    position: absolute;
    background-color: #222831;
    right: 40pt;
    top: 13pt;
    padding: 10pt;
    color: #f2f2f2;
    width: 40pt;
}
#user_panel {
    position: relative;
    top: 60pt;
    padding: 9px;
    background-color: #393e46;
}
input {
    color:#f2f2f2;
    background-color:#393e46;
    border-style:ridge;
}
a {
    text-decoration: none;
    color:#f96d00;
}
input.submit {
    background-color: #f96d00;
    border-style: none;
    color: #222831;
    width: 100pt;
    height: 20pt;
    font-weight: 600;
}
#references {
    text-align: left;
    margin-left: 1pt;
}